@import './partials/header.scss';
@import './partials/footer.scss';
@import './partials/main.scss';
@import './partials/quest.scss';
@import './partials/map.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
