footer {
	background-color: #292826;
	width: 100%;
	text-align: center;
	height: 10vh;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	border-top: 4px solid rgb(31, 31, 31);
	background-image: url("/assets/ui/bgc.png");
}

footer a {
	text-decoration: none;
}

footer a {
	position: relative;
}

footer a:hover span {
	bottom: 2px;
}

footer a span {
	position: absolute;
	bottom: -100px;
	right: 40px;
	font-size: 28px;
	transition: 0.3s;
	font-family: "Staatliches", cursive;
}

footer a {
	color: white;
	font-size: 32px;
	margin-bottom: 25px;
	margin-right: 25px;
}
