header {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: goldenrod;
	text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
		3px 3px 0 #000;
	transition: 0.1s 0.3s;
	background-color: #292826;
	border-bottom: 6px solid rgb(31, 31, 31);
	background-image: url('/assets/ui/bgc.png');
}

header * {
	font-family: 'Staatliches', cursive;
}
header button {
	border: none;
	background-color: transparent;
}

header button[data-spin='1'] {
	animation: witcherSpin 0.4s linear;
	pointer-events: none;
}

header img {
	width: 22vw;
	padding: 0 5vw;
	user-select: none;
	transition: 0.6s;
	animation: witcherSpin 0.4s linear;
}

header h1 {
	font-size: 50px;
}
header h3 {
	font-size: 25px;
	color: white;
}

header img:hover {
	cursor: pointer;
	-webkit-filter: drop-shadow(0 0 15px #da7400);
	filter: drop-shadow(0 0 15px #da7400);
}

.witcher2_header h1 {
	color: #0095da;
}

.witcher2_header img:hover {
	-webkit-filter: drop-shadow(0 0 15px #0095da);
	filter: drop-shadow(0 0 15px #0095da);
}

.witcher1_header h1 {
	color: #da0000;
}

.witcher1_header img:hover {
	-webkit-filter: drop-shadow(0 0 15px #da0000);
	filter: drop-shadow(0 0 15px #da0000);
}

@keyframes witcherSpin {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
