.map,
.mapText {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapText div {
	width: 800px;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: rgb(28, 28, 28);

	box-shadow: 0 0 1px 3px goldenrod;
	background-repeat: no-repeat;
	transition: 0.2s;
	background-size: cover;
	padding: 10px;
}

.witcher1quest .mapText div,
.witcher1Romancequest .mapText div {
	box-shadow: 0 0 1px 3px #da0000;
}

.witcher2quest .mapText div {
	box-shadow: 0 0 1px 3px #0095da;
}

.mapOn {
	width: 100%;
	height: 100%;
	object-fit: fill;
	max-height: 40vw;
	max-width: 40vw;
}

.mapcontainer {
	width: 40vw;
	height: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 5px solid black;
	box-shadow: 0 0 1px 3px goldenrod;
}

.witcher1quest .mapcontainer,
.witcher1Romancequest .mapcontainer {
	box-shadow: 0 0 1px 3px #da0000;
}

.witcher2quest .mapcontainer {
	box-shadow: 0 0 1px 3px #0095da;
}

.map button,
.mapText button {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 35px;
	border: 3px solid goldenrod;
	color: goldenrod;
	font-weight: bold;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(33, 33, 33);
	transition: 0.2s;
	cursor: pointer;
	position: absolute;
}

.witcher1quest .map button,
.witcher1quest .mapText button,
.witcher1Romancequest .map button,
.witcher1Romancequest .mapText button {
	border: 3px solid #da0000;
	color: #da0000;
}

.witcher2quest .map button,
.witcher2quest .mapText button {
	border: 3px solid #0095da;
	color: #0095da;
}

.witcher1quest .map button:hover,
.witcher1quest .mapText button:hover {
	color: rgb(255, 77, 77);
	border: 3px solid rgb(255, 77, 77);
}

.witcher2quest .map button:hover,
.witcher2quest .mapText button:hover {
	color: #34bfff;
	border: 3px solid #34bfff;
}

.map button:hover,
.mapText button:hover {
	background-color: rgb(52, 52, 52);
	color: yellow;
	border: 3px solid yellow;
}

.witcher1quest .map div:has(button:hover),
.witcher1quest .mapText div:has(button:hover) {
	box-shadow: 0 0 1px 3px rgb(255, 77, 77);
}

.witcher2quest .map div:has(button:hover),
.witcher2quest .mapText div:has(button:hover) {
	box-shadow: 0 0 1px 3px #34bfff;
}

.map div:has(button:hover),
.mapText div:has(button:hover) {
	box-shadow: 0 0 1px 3px yellow;
}

.witcher1Romancequest .map .mapcontainer {
	box-shadow: none;
}

.witcher1Romancequest .map .mapcontainer button {
	border-color: black;
	color: white;
}
