.map,
.mapText {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapText div {
	width: 800px;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: rgb(28, 28, 28);

	box-shadow: 0 0 1px 3px goldenrod;
	background-repeat: no-repeat;
	transition: 0.2s;
	background-size: cover;
}

.mapOn {
	width: 100%;
	height: 100%;
	object-fit: fill;
	max-height: 40vw;
	max-width: 40vw;
}

.mapcontainer {
	width: 40vw;
	height: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 5px solid black;
	box-shadow: 0 0 1px 3px goldenrod;
}

.map button,
.mapText button {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 35px;
	border: 3px solid goldenrod;
	color: goldenrod;
	font-weight: bold;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(33, 33, 33);
	transition: 0.2s;
	cursor: pointer;
	position: absolute;
}

.map button:hover {
	background-color: rgb(52, 52, 52);
	color: yellow;
	border: 3px solid yellow;
}

.map div:has(button:hover) {
	box-shadow: 0 0 1px 3px yellow;
}
