.quest {
	background-color: rgb(22, 22, 22);
	width: 70%;
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 1% auto;
	border: 5px solid rgb(14, 13, 13);
	cursor: pointer;
}

.quest.completed {
	background-color: #3e3e3e;
	border: 5px solid rgb(36, 36, 36);
}

.quest.completed button {
	background-color: rgb(36, 36, 36);
	border: 5px solid rgb(36, 36, 36);
	display: flex;
	justify-content: center;
	align-items: center;
	color: goldenrod;
	font-size: 25px;
	font-weight: bold;
}

.witcher1quest .quest.completed button {
	color: #da0000;
}

.witcher2quest .quest.completed button {
	color: #0095da;
}

.locationwitcher hr {
	border: 3px dashed rgb(77, 77, 77);
	margin: 10px;
}

.quest.completed button:hover {
	background-color: rgb(16, 16, 16);
	border: 5px solid black;
}

.quest.completed .questinfo span:nth-of-type(2),
.quest.completed .questEvent span {
	color: black;
}

.locationwitcher > summary {
	font-weight: bold;
	font-size: 30px;
	color: gray;
	transition: 0.3s;
	text-align: left;
	cursor: pointer;
	margin-right: 1%;
}

.quests details:nth-of-type(8) > summary,
.quests details:nth-of-type(8) span:nth-of-type(2),
.quests details:nth-of-type(8) .questEvent span {
	color: rgb(170, 81, 81);
}

.quests details:nth-of-type(7) > summary,
.quests details:nth-of-type(7) span:nth-of-type(2),
.quests details:nth-of-type(7) .questEvent span {
	color: rgb(81, 133, 170);
}

.quests details:nth-of-type(8)[open] > summary {
	color: rgb(248, 146, 146);
}

.quests details:nth-of-type(7)[open] > summary {
	color: rgb(120, 196, 251);
}
.locationwitcher summary {
	font-weight: bold;
	font-size: 35px;
	color: white;
	transition: 0.3s;

	text-align: center;
	cursor: pointer;
}

.witcher1quest .locationwitcher[open] > summary {
	color: #da0000;
}

.witcher2quest .locationwitcher[open] > summary {
	color: #0095da;
}

.locationwitcher[open] summary {
	color: goldenrod;
}

.questinfo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 2%;
	width: 50%;
	text-align: left;
}

.questinfo span {
	width: 100%;
}

.questinfo span:nth-of-type(2) {
	color: goldenrod;
	font-size: 16px;
}

.witcher1quest .questinfo span:nth-of-type(2) {
	color: #da0000;
}
.witcher2quest .questinfo span:nth-of-type(2) {
	color: #0095da;
}

.locationwitcher[open] > *:not(summary) {
	animation: details-show 350ms ease-in-out;
}

.locationwitcher[open] details summary {
	font-size: 18px;
	text-align: center;
	list-style-type: none;
	color: gray;
	background-color: rgb(22, 22, 22);
	margin: 10px 0;
	width: 100%;
}

.locationwitcher details[open] summary {
	color: white;
}

.witcher1quest .locationwitcher details[open] summary {
	color: white;
}

.witcher2quest .locationwitcher details[open] summary {
	color: white;
}

.locationwitcher details[open] > *:not(summary) {
	animation: details-show 350ms ease-in-out;
}

.locationwitcher {
	width: 100%;
	height: auto;
	overflow-y: scroll;
	border-bottom: 4px solid rgb(0, 0, 0);
	border-right: 4px solid rgb(31, 31, 31);
	border-top: 2px solid rgb(145, 145, 145);
	text-align: center;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-color: rgb(29, 28, 28);
	margin-bottom: 30px;
	padding: 12px 0;
}

.locationwitcher::-webkit-scrollbar {
	display: none;
}

.locationwitcher:first-of-type {
	margin-top: 4%;
}

.questEvent span {
	color: goldenrod;
	margin-right: 3%;
}

.witcher1quest .questEvent span {
	color: #da0000;
}

.witcher2quest .questEvent span {
	color: #0095da;
}

.questEvent {
	margin-right: 2%;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.questEvent button {
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: rgb(17, 17, 17);
	border: 3px solid black;
	padding: 22px;
}

.questEvent button:hover {
	background-color: rgb(35, 35, 35);
}

@keyframes details-show {
	from {
		opacity: 0;
		transform: var(--details-translate, translateY(-0.5em));
	}
}
